version: 1.0.{build}
image: Visual Studio 2022

environment:
  JAVA_HOME: C:\Program Files\Java\jdk17
  GRADLE_OPTS: -Dorg.gradle.daemon=false

install:
  - ps: choco install jdk17 -y
  - refreshenv

build_script:
  - gradlew.bat clean assembleDebug --stacktrace

test_script:
  - gradlew.bat test --stacktrace

artifacts:
  - path: app\build\outputs\apk\debug\app-debug.apk
    name: debug-apk

cache:
  - '%USERPROFILE%\.gradle\caches'
  - '%USERPROFILE%\.gradle\wrapper'
